############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history


############################
# Tests
############################

testApp
coverage


.idea
node_modules
package-lock.json
portal
.DS_Store
hooks

###########################
# Strapi
###########################

api/action/documentation/1.0.0/action.json
api/address/documentation/1.0.0/address.json
api/approver/documentation/1.0.0/approver.json
api/event/documentation/1.0.0/event.json
api/eventcontract/documentation/1.0.0/eventcontract.json
api/marketer/documentation/1.0.0/marketer.json
api/minter/documentation/1.0.0/minter.json
api/queuedevent/documentation/1.0.0/queuedevent.json
api/ticket/documentation/1.0.0/ticket.json
plugins/users-permissions/documentation/1.0.0/users-permissions-User.json
